@page
@using Work.Localization
@using Work.Permissions
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<WorkResource> L
@model Work.Web.Pages.Extras.IndexModel
@{
}

<abp-dynamic-form abp-model="_extra" asp-page="/Extras/Index">
    <abp-form-content />
    <button id="Save" class="btn btn-primary">Kaydet</button>
</abp-dynamic-form>